// .burger-button {
//   @include reset-button;
//   @include square(48px);

//   border-radius: var(--border-radius-small);
//   cursor: pointer;
//   z-index: 6;
//   position: relative;

//   &::after {
//     @include abs-center;
//     content: "";
//     width: 30px;
//     height: 3px;
//     background-color: var(--color-accent);
//     border-radius: 5px;
//     box-shadow: 0 -10px var(--color-accent), 0 10px var(--color-accent);
//     transition-duration: var(--transition-duration);
//   }
// }

.burger {
  &-button {
    @include reset-button;
    @include square(48px);

    border-radius: var(--border-radius-small);
    cursor: pointer;
    z-index: 6;
    position: relative;

    &::after {
      @include abs-center;
      content: "";
      width: 30px;
      height: 3px;
      background-color: var(--color-accent);
      border-radius: 5px;
      box-shadow: 0 -10px var(--color-accent), 0 10px var(--color-accent);
      transition-duration: var(--transition-duration);
    }
  }

  &__menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color-light);
    z-index: 5;
    align-items: center;
    justify-content: center;
    opacity: .9;
    transition-duration: 1s;
    display: none;
  
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
    }
  
    &-item {
      color: var(--color-accent);
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      position: relative;
      transition-duration: var(--transition-duration);
      text-align: center;
  
      @include hover {
        &::after {
          width: 100%;
          border: 1px solid;
        }
      }
  
      &::after {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2%;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &-active {
    &::after {
      box-shadow: 0 -10px transparent, 0 10px transparent;
    }
  }

  &__menu-active {
    display: flex;
  }
}

// .burger__menu {
//   position: absolute;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   background-color: var(--color-light);
//   z-index: 5;
//   align-items: center;
//   justify-content: center;
//   opacity: .9;
//   left: 0;
//   transition-duration: 1s;
//   display: none;

//   &-list {
//     display: flex;
//     flex-direction: column;
//     row-gap: 60px;
//   }

//   &-item {
//     color: var(--color-accent);
//     font-size: 24px;
//     font-weight: 500;
//     line-height: 120%;
//     position: relative;
//     transition-duration: var(--transition-duration);
//     text-align: center;

//     @include hover {
//       &::after {
//         width: 100%;
//         border: 1px solid;
//       }
//     }

//     &::after {
//       content: "";
//       position: absolute;
//       bottom: -20%;
//       left: 50%;
//       translate: -50%;
//       width: 0;
//       height: 2%;
//       background-color: currentColor;
//       transition-duration: inherit;
//     }
//   }
// }


// .burger-active {
//   &::after {
//     box-shadow: 0 -10px transparent, 0 10px transparent;
//   }
// }

// .burger__menu-active {
//   display: flex;
// }