.toggle {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 40px;

  @include tablet {
    width: 55px;
    height: 26.19px;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked+.slider {
    background-color: #fa865f69;


    /* Цвет при включении */
  }

  input:checked+.slider:before {
    transform: translateX(42px);
    background-color: var(--color-accent);
    /* Движение кнопки при включении */

    @include tablet {
      transform: translateX(28px);
    }
  }
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 6px;
    bottom: 6px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;

    @include tablet {
      width: 18px;
      height: 18px;
      left: 4px;
      bottom: 4px;
    }
  }

}