:root {
  --color-accent: #FF553E;
  --color-accent-light: #FFF8F2;
  --color-dark: #1C0E0D;
  --color-gray: #404040;
  --color-light: #FFFFFF;
  --color-brown: #40201E;
  --color-dark-blue: #18063C;
  --color-peach: #FA865F;
  --color-light-blue: #7AD6E1;
  --color-yellow: #FFC954;

  --font-family-base: 'Poppins';
  --container-width: 1170px;
  --container-padding-x: 20px;

  --section-padding-y: 80px;

  --transition-duration: .4s;
}